# MISP Configuration
MISP_URL=your_misp_url_here

# MISP API KEYS OF ALL YOUR WORKERS
MISP_WORKER1_API_KEY=misp_worker1_api_key
MISP_WORKER2_API_KEY=misp_worker2_api_key
MISP_WORKER3_API_KEY=misp_worker3_api_key

# ABUSEIPDB
ABUSEIPDB_API_KEY=your_abuseipdb_key

# OPENCTI
OPENCTI_URL=your_opencti_url
OPENCTI_API_KEY=your_opencti_key

# MIST API KEY
API_KEY=your_created_api_key